<link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
<!-- <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/assets/css/suneditor.css" rel="stylesheet"> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/assets/css/suneditor-contents.css" rel="stylesheet"> -->
<script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
<!-- languages (Basic Language: English/en) -->
<script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/ko.js"></script>

<div class='w-100 mx-auto'>
  <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBoard">게시글 생성</button>
    <!-- Modal -->
    <div class="modal fade modal-lg" id="addBoard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" onsubmit="handleAddBoard(event)">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">안내</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="d-flex gap-1 flex-column modal-body">
            <label class='form-label'>
              제목
              <input class="form-control" name="title" type="text" placeholder="제목">
            </label>
            <label class="form-label">
              유형
              <select name="category" class="form-select">
                <option value="notice">공지사항</option>
                <option value="community">커뮤니티</option>
                <option value="event">이벤트</option>
                <option value="faq">FAQ</option>
              </select>
            </label>
            <input type="hidden" name="userId" value="{{user.id}}">
            <label class="form-label">
              내용
              <textarea id="content" name="content" placeholder="내용을 적으세요."></textarea>
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary"">확인</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <h3>Dash Board</h3>
  <table class='table layout-fixed table-striped table-hover'>
    <thead>
      <tr>
        {{#each columns}}
          <th>{{translate this 'board'}}</th>
        {{/each}}
        <th>
          수정
        </th>
        <th>
          삭제
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each boards}}
        <tr>
          <td>{{findIndex ../boards id}}</td>
          <td>{{title}}</td>
          {{#if author.username}}
            <td>{{author.username}}</td>
          {{else}}
            <td>Guest</td>
          {{/if}}
          <td>
            <select name="category" class="form-select" onchange="handleChangeCategory(event, '{{id}}')">
              <option {{#if (eq category 'notice')}}selected{{/if}} value="notice">공지사항</option>
              <option {{#if (eq category 'community')}}selected{{/if}} value="community">커뮤니티</option>
              <option {{#if (eq category 'event')}}selected{{/if}} value="event">이벤트</option>
              <option {{#if (eq category 'faq')}}selected{{/if}} value="faq">FAQ</option>
            </select>
          </td>
          <td>{{viewCount}}</td>
          <td>
            <select name="isPrivate" class="form-select" onchange="handleChangePrivate(event, '{{id}}')">
            <option {{#if (eq isPrivate true)}}selected{{/if}} value="true">비공개</option>
            <option {{#if (eq isPrivate false)}}selected{{/if}} value="false">공개</option>
            </select>
          </td>
          <td>
            <select name="isOnlyCrew" class="form-select" onchange="handleChangeShowCrew(event, '{{id}}')">
            <option {{#if (eq isOnlyCrew true)}}selected{{/if}} value="true">회원 열람</option>
            <option {{#if (eq isOnlyCrew false)}}selected{{/if}} value="false">전체 열람</option>
            </select>
          </td>
          <td>{{dateFormat createdAt}}</td>
          <td>{{dateFormat updatedAt}}</td>
          <td>{{dateFormat deletedAt}}</td>
          <td>
            <button type="button" class="btn btn-close" data-bs-toggle="modal" data-bs-target="#{{id}}" ></button>
            <!-- Modal -->
            <div class="modal fade" id="{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">안내</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    삭제하시겠습니까?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="handleDelete(event, '{{id}}')">확인</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-close" data-bs-toggle="modal" data-bs-target="#{{id}}" ></button>
            <!-- Modal -->
            <div class="modal fade" id="{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">안내</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    삭제하시겠습니까?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="handleDelete(event, '{{id}}')">확인</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>


<script>
  /**
  * ID : 'suneditor_sample'
  * ClassName : 'sun-eidtor'
  */
  // ID or DOM object
  const editor = SUNEDITOR.create((document.getElementById('content') || 'content'),{
    // All of the plugins are loaded in the "window.SUNEDITOR" object in dist/suneditor.min.js file
    // Insert options
    // Language global object (default: en)
    lang: SUNEDITOR_LANG['ko'],
    height: '300px'
  });

  function handleDelete(e, id){
    const form = createForm(`/manage/board/${id}`, 'DELETE');
    document.body.append(form);
    form.submit();
  }

  function handleChangeCategory(e, id){
    const category = e.target.value;
    const form = createForm(`/manage/board/${id}/category`, "PUT");
    const input = createInput('category', category);
    form.append(input);
    document.body.append(form);
    form.submit();
  }

  function handleChangePrivate(e, id) {
    const value = e.target.value;
    let form;
    if(value === 'true'){
      form = createForm(`/manage/board/${id}/private`, "PUT");
    } else {
      form = createForm(`/manage/board/${id}/public`, "PUT");
    }
    document.body.append(form);
    form.submit();
  }

  function handleChangeShowCrew (e, id) {
    const value = e.target.value;
    let form;
    if(value === 'true'){
      form = createForm(`/manage/board/${id}/crew`, "PUT");
    } else {
      form = createForm(`/manage/board/${id}/all`, "PUT");
    }
    document.body.append(form);
    form.submit();
  }

  function createForm(action, method) {
    const form = document.createElement('form');
    form.action = action;
    form.method = 'POST';
    form.hidden = true;
    if(validateMethod(method)){
      const input = document.createElement('input');
      input.type = 'hidden';
      input.name = '_method';
      input.value = method;
      form.appendChild(input);
    }
    return form;
  }

  function validateMethod(method){
    const lowerCaseMethod = method.toLowerCase();
    return !['get','post'].includes(lowerCaseMethod);
  }

  function createData(data){
    return Object.entries(data).map(([name, value])=> createInput(name, value));
  }

  function createInput(name, value, type){
    const input = document.createElement('input');
    input.name = name;
    input.value = value;
    if(type) input.type = type;
    return input;
  }

  function handleAddBoard(e){
    e.preventDefault();
    const title = e.target.title.value;
    const content = e.target.content.value;
    const category = e.target.category.value;
    const userId = e.target.userId.value;
    const form = createForm('/manage/board', "POST");
    console.log(title, category, content, userId);
    const inputs = createData({
      title,
      content,
      category,
      userId
    });
    form.append(...inputs);
    document.body.append(form);
    form.submit();
  }
</script>
